@using Bunit
@using DependencyInjectionDemo.Pages
@using Xunit
@inherits Bunit.BunitContext

@code {

    [Theory]
    [InlineData(0)]
    [InlineData(5)]
    public void CounterStartsAtZero(int numberOfClicks)
    {

        // Arrange
        Services.AddScoped<IMyService, MyService>();
        var cut = Render<Counter>();

        // Act
        var button = cut.Find("button");
        foreach (var i in Enumerable.Range(0, numberOfClicks))
        {
            button.Click();
        }

        // Assert
        cut.Find("p").MarkupMatches(@$"<p role=""status"">Current count: {numberOfClicks}</p>");

        Console.WriteLine(cut.Find("p").ToString());
    }

}
