
<div style="border:1px solid black; border-radius: 5px;">
    <h3>ChildComponent</h3>

    <p>Hello, I am a child component! I inherit a css-isolated css rule from my parent component using the ::deep rule</p>

</div>

@code {

}
