@page "/CssIsolationDemo"
<span>
    <h3>CssIsolationDemo showing inherited CSS isolation using ::deep pseudo element of CSS</h3>
    <ChildComponent></ChildComponent>
</span>

CSS ::deep rule 
<pre>
<code>
 ::deep h3 {
 color: darkred;
 font-family: 'Comic Sans MS';
}
 </code>
</pre>

@code {

}
