<div class=@($"alert alert-{AlertType.ToString().ToLower()}") role="alert">
    @ChildContent
</div>

@code {

    [Parameter]
    public required RenderFragment ChildContent { get; set; } = @<b>Default message</b>;

    [Parameter]
    public AlertTypeEnum AlertType { get; set; } = AlertTypeEnum.Success;


}