@page "/alertdemo"
<h3>Alerts Demo</h3>

<h5>Some alerts</h5>
<Alert AlertType="AlertTypeEnum.Success">This is my success alert</Alert>
<Alert AlertType="AlertTypeEnum.Info">This is my info alert</Alert>
<Alert AlertType="AlertTypeEnum.Warning">This is my warning alert</Alert>
<Alert AlertType="AlertTypeEnum.Dark">This is my dark alert</Alert>
<Alert AlertType="AlertTypeEnum.Primary">This is my primary alert</Alert>
<Alert AlertType="AlertTypeEnum.Secondary">This is my secondary alert</Alert>
<Alert AlertType="AlertTypeEnum.Danger">This is my danger alert</Alert>

<Alert AlertType="AlertTypeEnum.Info"></Alert> <!-- Default message in @ChildContent shown here -->