<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DependencyInjectionDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CssIsolationDemo">
                <span class="oi oi-arrow-right" aria-hidden="true"></span>CssIsolationDemo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StateServiceDemo">
                <span class="oi oi-plus" aria-hidden="true"></span> StateServiceDemo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LocalStorageDemo">
                <span class="oi oi-plus" aria-hidden="true"></span> LocalStorageDemo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typeparamdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Type parameter demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attributesdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Attributes demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bindingelementdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Binding element demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bindingcomponentdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Bind component demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
